<?xml version="1.0" encoding="<%- encoding %>"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= lang %>"
      lang="<%= lang %>">
    <head>
        <meta charset="<%- encoding %>" />
        <title><%= title %></title>
        <meta name="viewport" content="width=<%= width %>, height=<%= height %>" />
        <% styleSheets.forEach((styleSheet) => { %><link type="text/css" rel="stylesheet" href="<%- styleSheet %>" /><% }) %>
    </head>
    <body style="width: <%= width %>px; height: <%= height %>px; margin: 0;">
        <%- areasStr || '' %>
        <%- textStr || '' %>
        <img src="<%- renderPath %>" style="margin-bottom: -<%- height - bbox.y1 %>px; margin-right: -<%- width - bbox.x1 %>px;" />
    </body>
</html>
